<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kelompok_15.tb_ptb" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TBPTB"
        tools:targetApi="31" >
        <activity
            android:name=".InputNilaiActivity"
            android:exported="false" />
        <activity
            android:name=".DetailLogBookActivity"
            android:exported="false" />
        <activity
            android:name=".DetailSidangActivity"
            android:exported="false" />
        <activity
            android:name=".DetailSeminarActivity"
            android:exported="false" />
        <activity
            android:name=".ListLogBookActivity"
            android:exported="false" />
        <activity
            android:name=".FormBatalActivity"
            android:exported="false" />
        <activity
            android:name=".MahasiswaActivity"
            android:exported="false" />
        <activity
            android:name=".PersetujuanBimbinganActivity"
            android:exported="false" />
        <activity
            android:name=".DetailTaMahasiswa"
            android:exported="false" />
        <activity
            android:name=".DetailMahasiswaActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".ListJadwalSeminarDanSidangActivity"
            android:exported="true" />
        <activity
            android:name=".EditPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".LihatProfileActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>